---
import BarNav from "../components/BarNav.astro";
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro";
---


<Layout title="Personajes">
  <main>
    <BarNav/>
    <Card/>
  </main>
</Layout>