---

---
<div id="nav-container">
  <a href="/"><img src="/images/file.png" alt="Icono" class="h-12 " ></a>
  <ul>
    <li>
      <a href="/personajes">Personajes</a>
    </li>
    <li>
      <a href="">Espidios</a>
    </li>
    <li>
      <a href="">Locaciones</a>
    </li>
  </ul>
</div>

<style>
 #nav-container{
  display: flex;
  flex-direction: row;
  background-color: #7f3e22;
  justify-content: space-between;
  align-items: center;
  }

  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
  }
  li{
    padding: 20px;
  }
  li:hover{
    padding: 20px;
    background-color: #b48861;
  }

</style>

