---
import Personajes from './Personajes.astro';
interface Props {
	id: number;
	title: string;
	href: string;
	name: string;
	body: string;
	img: string;
	status: string;
	gender: string;
	species: string;
}

const { href, title, body, img } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>
				<img src={img} src="" alt="">
			</span>
		</h2>
		<p>
			<Personajes/>
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #fdf5a3;
		background-size: 400%;
		border-radius: 7px;
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #fdf5a3;

	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
