---
const response = await fetch("https://rickandmortyapi.com/api/character")
const data = await response.json();

const dataString = JSON.stringify(data)

console.log(data)

---

<div class="grid gap-8 sm">
  
</div>

<style>
  
</style>
