---
interface Props{
  active?: boolean | 'true' | 'false';
  url: string;
  value: number;
}

let {active, url, value}= Astro.props

if(active){
  // if(active === 'false')
  //   active = false
  active = active === 'false' ? false : active;
}

---
{
  active ? (
  <span class="active">{value}</span>
  ) :(
  <a href={url} class="selectable">{value}</a>
  )
}

<style>  
 a,
  .active {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .selectable:hover {
    background-color: #444444;
  }

  .active {
    background: #308941;
  }
</style>
